<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydg.web_taskList.user.mapper.UserCustomMapper">
	<sql id="getUserSql">
		<if test="userid != null and userid != '' ">
		AND userid = #{userid}
		</if>
		<if test="username != null and username != '' ">
		AND username = #{username}
		</if>
		<if test="userpassword != null and userpassword != '' ">
		AND userpassword = #{userpassword}
		</if>
		<if test="useremail != null and useremail != '' ">
		AND useremail = #{useremail}
		</if>
	</sql>
	<select id="getUser" parameterType="UserCustom" resultType="UserCustom">
		SELECT * FROM user
		<where>
			<include refid="getUserSql"></include>
		</where>
	</select>
</mapper>